body{
    background-color: chocolate;
}

#div1{
    background-color: aquamarine;
}

#div2{
    background-color: wheat;
}
#div3{
    background-color: gainsboro;
}
#div4{
    background-color: rgb(38, 146, 83);
}
#div5{
    background-color: rgb(45, 73, 124);
}
#div6{
    background-color: rgb(151, 24, 83);
}
#div7{
    background-color: rgb(51, 24, 83);
}

#div8{
    background-color: rgb(51, 124, 83);
}