body{
    background-image: url("science.jpg");
    
}

#div1{
    background-color: rgb(113, 233, 173);
    margin: 4px;
    border: 2px solid white;
}

#div2{
    background-color: rgb(113, 233, 173);
    margin: 4px;
    border: 2px solid white;
}
#div3{
    background-color: rgb(113, 233, 173);
    margin: 4px;
    border: 2px solid white;
}
#div4{
    background-color: rgb(113, 233, 173);
    margin: 4px;
    border: 2px solid white;
}
#div5{
    background-color: rgb(113, 233, 173);
    margin: 4px;
    border: 2px solid white;
}
#div6{
    background-color: rgb(113, 233, 173);
    margin: 4px;
    border: 2px solid white;
}
#div7{
    background-color: rgb(113, 233, 173);
    margin: 4px;
    border: 2px solid white;
}
#div8{
    background-color: rgb(113, 233, 173);
    margin: 4px;
    border: 2px solid white;
}