body{
    background-image: url("football.jpg");
}
#Headline{
    margin-top: 20px;
    text-align: center;
    color: black;
    font-family: papyrus;
    font-size: 500%;
    font-weight: bold;
    border-style: solid;
    border-width: 15px;
    background-color: white;
}

#Ligen{
    color: rgb(0, 0, 0);
    padding: 20px;
    background-color: rgb(71, 71, 71);
    
}

#button_WM{
    border-style: solid;
    border-width: 5px;
    background-color: white;
    font-weight: bold;
    text-align: center;
}

#button_DB{
    border-style: solid;
    border-width: 5px;
    background-color: white;
    font-weight: bold;
    text-align: center;
}

#button_CL{
    border-style: solid;
    border-width: 5px;
    background-color: white;
    font-weight: bold;
    text-align: center;
}

#tabelle{
    border: 1px solid black;
    background-color: rgb(39, 39, 39);
    color: white;
    border-style: outset;
    border-width: 2px;
}

#tablehead{
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 2px;
}